*{
    margin: 0;
    padding: 0;
} 

body{
    margin: auto;
    background-color: beige;
}

div.first{
    border: 4px solid black;
    margin: auto;
}

.second{
    border: 4px solid rgb(0, 0, 0);
    background-color: rgb(129, 189, 189);
}

.third{
    border: 2px solid black;
    background-color: rgb(224, 241, 241);
}

td{
    border: 2px solid black;
    border-collapse: collapse;
     ;
}

tr{
    border: 2ox solid  black;
}
    
.qwerty{
    background-color: rgb(129,189,189)
    
}